<section class="account">
    <div class="account__content">
        <h2 class="account__name">
            Медведев Владмир Иванович
        </h2>
        <div class="account__role">
            Зав. кафедрой систем безопасности, д-р техн. наук, профессор
        </div>
        <div class="account__info">
            <div class="account__info-item">
                <div class="account__info-item-key">
                    Город
                </div>
                <div class="account__info-item-value">
                    Москва
                </div>
            </div>
            <div class="account__info-item">
                <div class="account__info-item-key">
                    Телефон
                </div>
                <div class="account__info-item-value">
                    Не указан
                </div>
            </div>
            <div class="account__info-item">
                <div class="account__info-item-key">
                    Email
                </div>
                <div class="account__info-item-value">
                    Не указан
                </div>
            </div>
            <div class="account__info-item">
                <div class="account__info-item-key">
                    Пациентопоток в месяц
                </div>
                <div class="account__info-item-value">
                   БТА: <br>
                   Филлеры: <br>
                   Мезотерапия: <br>
                </div>
            </div>
            <a href="#" class="account__download-blank">
                Бланк CV
                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                    <use xlink:href="#download" />
                </svg>
            </a>
            <a href="#" class="btn account__change-btn">
                Изменить
            </a>
        </div>
    </div>
    <div class="account__score">
        <div class="account__score-text">
            Рейтинг
        </div>
        <div class="account__score-number">
            7,9
        </div>
    </div>
</section>