<section class="all-accounts">
    <h2 class="section-heading">
        Пользователи
    </h2>
    <nav class="inner-nav">
        <a href="#" class="inner-nav__link active">
            Все пользователи
        </a>
    </nav>
    <div class="filters">
        
        <div class="filters__icon">
            <svg width="24" height="24" aria-hidden="true" class="icon-filters">
                <use xlink:href="#filters" />
            </svg>
        </div>
        <form action="/" class="filters__form">
            <div class="filters__custom-select">
                <select name="city" class="js-custom-select"> 
                    <option value="all" selected>Все города</option> 
                    <option value="kazan">Казань</option>
                    <option value="moscow">Москва</option>
                  </select>
            </div>
            <div class="filters__custom-select">
                <select name="role" class="js-custom-select"> 
                    <option value="all" selected>Все роли</option> 
                    <option value="ceo">Руководитель</option>
                    <option value="lector">Лектор</option>
                    <option value="employee">Сотрудник</option>
                  </select>
            </div>
        </form>
    </div>
    <div class="all-accounts__results">
        <table>
            <thead>
                <tr>
                    <th>
                        №
                    </th>
                    <th>
                        ФИО
                    </th>
                    <th>
                        Роль
                    </th>
                    <th>
                        Город
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        Воробьева Мария Александрровна
                    </td>
                    <td>
                        Руководитель
                    </td>
                    <td>
                        Москва
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        Дибров Дмитрий Сергеевич
                    </td>
                    <td>
                        Лектор
                    </td>
                    <td>
                        Казань
                    </td>
                </tr>
                <tr>
                    <td>
                        3
                    </td>
                    <td>
                        Петров Денис Вячеслалович
                    </td>
                    <td>
                        Лектор
                    </td>
                    <td>
                        Москва
                    </td>
                </tr>
                <tr>
                    <td>
                        4
                    </td>
                    <td>
                        Воробьев Александр Александрович
                    </td>
                    <td>
                        Руководитель
                    </td>
                    <td>
                        Казань
                    </td>
                </tr>
                <tr>
                    <td>
                        5
                    </td>
                    <td>
                        Соловьева Инна Генадьевна
                    </td>
                    <td>
                        Сотрудник
                    </td>
                    <td>
                        Москва
                    </td>
                </tr>
                <tr>
                    <td>
                        6
                    </td>
                    <td>
                        Сидорова Евгения Генадьевна
                    </td>
                    <td>
                        Сотрудник
                    </td>
                    <td>
                        Москва
                    </td>
                </tr>
                <tr>
                    <td>
                        7
                    </td>
                    <td>
                        Карташов Александ Сергевич
                    </td>
                    <td>
                        Сотрудник
                    </td>
                    <td>
                        Казань
                    </td>
                </tr>
                <tr>
                    <td>
                        8
                    </td>
                    <td>
                        Егоров Сергей Борисович
                    </td>
                    <td>
                        Лектор
                    </td>
                    <td>
                        Сызрань
                    </td>
                </tr>
                <tr>
                    <td>
                        8
                    </td>
                    <td>
                        Егоров Сергей Борисович
                    </td>
                    <td>
                        Лектор
                    </td>
                    <td>
                        Сызрань
                    </td>
                </tr>
                <tr>
                    <td>
                        9
                    </td>
                    <td>
                        Платонов Влад Сергеевич
                    </td>
                    <td>
                        Лектор
                    </td>
                    <td>
                        Казань
                    </td>
                </tr>
                <tr>
                    <td>
                        10
                    </td>
                    <td>
                        Шириев Артур Маратович
                    </td>
                    <td>
                        Руководитель
                    </td>
                    <td>
                        Казань
                    </td>
                </tr>
                <tr>
                    <td>
                        11
                    </td>
                    <td>
                        Медведев Александр Александрович
                    </td>
                    <td>
                        Руководитель
                    </td>
                    <td>
                        Москва
                    </td>
                </tr>
                <tr>
                    <td>
                        12
                    </td>
                    <td>
                        Медведев Михаил Александрович
                    </td>
                    <td>
                        Лектор
                    </td>
                    <td>
                        Казань
                    </td>
                </tr>
                <tr>
                    <td>
                        13
                    </td>
                    <td>
                        Овдиенко Владимир Иванович
                    </td>
                    <td>
                        Руководитель
                    </td>
                    <td>
                        Краснодар
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>