<section class="all-accounts">
    <h2 class="section-heading">
        Пользователи
    </h2>
    <nav class="inner-nav">
        <a href="#" class="inner-nav__link active">
            Все пользователи
        </a>
        <a href="#" class="inner-nav__link">
            Кадровый резерв
        </a>
        <a href="#" class="btn inner-nav__add-link">
            Добавить
            <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                <use xlink:href="#plus" />
            </svg>
        </a>
    </nav>
    <div class="filters">
        <div class="filters__icon">
            <svg width="24" height="24" aria-hidden="true" class="icon-filters">
                <use xlink:href="#filters" />
            </svg>
        </div>
        <form action="/" class="filters__form">
            <div class="filters__custom-select">
                <select name="city" class="js-custom-select">
                    <option value="all" selected>Все города</option>
                    <option value="kazan">Казань</option>
                    <option value="moscow">Москва</option>
                </select>
            </div>
            <div class="filters__custom-select">
                <select name="role" class="js-custom-select">
                    <option value="all" selected>Все роли</option>
                    <option value="ceo">Руководитель</option>
                    <option value="lector">Лектор</option>
                    <option value="employee">Сотрудник</option>
                </select>
            </div>
        </form>
    </div>
    <div class="all-accounts__results">
        <table>
            <thead>
                <tr>
                    <th>
                        №
                    </th>
                    <th>
                        ФИО
                    </th>
                    <th>
                        Роль
                    </th>
                    <th>
                        Город
                    </th>
                    <th>
                        <span class="visually-hidden">
                            Действие
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="#"> 1</a>
                    </td>
                    <td>
                        <a href="#"> Воробьева Мария Александрровна</a>
                    </td>
                    <td>
                        <a href="#">
                            Руководитель
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Москва
                        </a>
                    </td>
                    <td>
                        <div class="actions">
                            <svg width="24" height="8" aria-hidden="true" class="icon-dots">
                                <use xlink:href="#dots" />
                            </svg>
                            <div class="actions__dropdown-wrapper">
                                <div class="actions__dropdown">
                                    <a href="#" class="actions__link">
                                        Редактировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Заблокировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Перевести в резерв
                                    </a>
                                    <a href="#" class="actions__link">
                                        Удалить
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#"> 2</a>
                    </td>
                    <td>
                        <a href="#">
                            Дибров Дмитрий Сергеевич
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Лектор
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Казань
                        </a>
                    </td>
                    <td>
                        <div class="actions">
                            <svg width="24" height="8" aria-hidden="true" class="icon-dots">
                                <use xlink:href="#dots" />
                            </svg>
                            <div class="actions__dropdown-wrapper">
                                <div class="actions__dropdown">
                                    <a href="#" class="actions__link">
                                        Редактировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Заблокировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Перевести в резерв
                                    </a>
                                    <a href="#" class="actions__link">
                                        Удалить
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">
                            3
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Петров Денис Вячеслалович
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Лектор
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Москва
                        </a>
                    </td>
                    <td>
                        <div class="actions">
                            <svg width="24" height="8" aria-hidden="true" class="icon-dots">
                                <use xlink:href="#dots" />
                            </svg>
                            <div class="actions__dropdown-wrapper">
                                <div class="actions__dropdown">
                                    <a href="#" class="actions__link">
                                        Редактировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Заблокировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Перевести в резерв
                                    </a>
                                    <a href="#" class="actions__link">
                                        Удалить
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">
                            4
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Воробьев Александр Александрович
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Руководитель
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Казань
                        </a>
                    </td>
                    <td>
                        <div class="actions">
                            <svg width="24" height="8" aria-hidden="true" class="icon-dots">
                                <use xlink:href="#dots" />
                            </svg>
                            <div class="actions__dropdown-wrapper">
                                <div class="actions__dropdown">
                                    <a href="#" class="actions__link">
                                        Редактировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Заблокировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Перевести в резерв
                                    </a>
                                    <a href="#" class="actions__link">
                                        Удалить
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">
                            5
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Соловьева Инна Генадьевна
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Сотрудник
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Москва
                        </a>
                    </td>
                    <td>
                        <div class="actions">
                            <svg width="24" height="8" aria-hidden="true" class="icon-dots">
                                <use xlink:href="#dots" />
                            </svg>
                            <div class="actions__dropdown-wrapper">
                                <div class="actions__dropdown">
                                    <a href="#" class="actions__link">
                                        Редактировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Заблокировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Перевести в резерв
                                    </a>
                                    <a href="#" class="actions__link">
                                        Удалить
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">
                            6
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Сидорова Евгения Генадьевна
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Сотрудник
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Москва
                        </a>
                    </td>
                    <td>
                        <div class="actions">
                            <svg width="24" height="8" aria-hidden="true" class="icon-dots">
                                <use xlink:href="#dots" />
                            </svg>
                            <div class="actions__dropdown-wrapper">
                                <div class="actions__dropdown">
                                    <a href="#" class="actions__link">
                                        Редактировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Заблокировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Перевести в резерв
                                    </a>
                                    <a href="#" class="actions__link">
                                        Удалить
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">
                            7
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Карташов Александ Сергевич
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Сотрудник
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Казань
                        </a>
                    </td>
                    <td>
                        <div class="actions">
                            <svg width="24" height="8" aria-hidden="true" class="icon-dots">
                                <use xlink:href="#dots" />
                            </svg>
                            <div class="actions__dropdown-wrapper">
                                <div class="actions__dropdown">
                                    <a href="#" class="actions__link">
                                        Редактировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Заблокировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Перевести в резерв
                                    </a>
                                    <a href="#" class="actions__link">
                                        Удалить
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">
                            8
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Егоров Сергей Борисович
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Лектор
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Сызрань
                        </a>
                    </td>
                    <td>
                        <div class="actions">
                            <svg width="24" height="8" aria-hidden="true" class="icon-dots">
                                <use xlink:href="#dots" />
                            </svg>
                            <div class="actions__dropdown-wrapper">
                                <div class="actions__dropdown">
                                    <a href="#" class="actions__link">
                                        Редактировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Заблокировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Перевести в резерв
                                    </a>
                                    <a href="#" class="actions__link">
                                        Удалить
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">
                            8
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Егоров Сергей Борисович
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Лектор
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Сызрань
                        </a>
                    </td>
                    <td>
                        <div class="actions">
                            <svg width="24" height="8" aria-hidden="true" class="icon-dots">
                                <use xlink:href="#dots" />
                            </svg>
                            <div class="actions__dropdown-wrapper">
                                <div class="actions__dropdown">
                                    <a href="#" class="actions__link">
                                        Редактировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Заблокировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Перевести в резерв
                                    </a>
                                    <a href="#" class="actions__link">
                                        Удалить
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">
                            9
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Платонов Влад Сергеевич
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Лектор
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Казань
                        </a>
                    </td>
                    <td>
                        <div class="actions">
                            <svg width="24" height="8" aria-hidden="true" class="icon-dots">
                                <use xlink:href="#dots" />
                            </svg>
                            <div class="actions__dropdown-wrapper">
                                <div class="actions__dropdown">
                                    <a href="#" class="actions__link">
                                        Редактировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Заблокировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Перевести в резерв
                                    </a>
                                    <a href="#" class="actions__link">
                                        Удалить
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">
                            10
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Шириев Артур Маратович
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Руководитель
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Казань
                        </a>
                    </td>
                    <td>
                        <div class="actions">
                            <svg width="24" height="8" aria-hidden="true" class="icon-dots">
                                <use xlink:href="#dots" />
                            </svg>
                            <div class="actions__dropdown-wrapper">
                                <div class="actions__dropdown">
                                    <a href="#" class="actions__link">
                                        Редактировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Заблокировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Перевести в резерв
                                    </a>
                                    <a href="#" class="actions__link">
                                        Удалить
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">
                            11
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Медведев Александр Александрович
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Руководитель
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Москва
                        </a>
                    </td>
                    <td>
                        <div class="actions">
                            <svg width="24" height="8" aria-hidden="true" class="icon-dots">
                                <use xlink:href="#dots" />
                            </svg>
                            <div class="actions__dropdown-wrapper">
                                <div class="actions__dropdown">
                                    <a href="#" class="actions__link">
                                        Редактировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Заблокировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Перевести в резерв
                                    </a>
                                    <a href="#" class="actions__link">
                                        Удалить
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">
                            12
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Медведев Михаил Александрович
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Лектор
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Казань
                        </a>
                    </td>
                    <td>
                        <div class="actions">
                            <svg width="24" height="8" aria-hidden="true" class="icon-dots">
                                <use xlink:href="#dots" />
                            </svg>
                            <div class="actions__dropdown-wrapper">
                                <div class="actions__dropdown">
                                    <a href="#" class="actions__link">
                                        Редактировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Заблокировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Перевести в резерв
                                    </a>
                                    <a href="#" class="actions__link">
                                        Удалить
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">
                            13
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Овдиенко Владимир Иванович
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Руководитель
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            Краснодар
                        </a>
                    </td>
                    <td>
                        <div class="actions">
                            <svg width="24" height="8" aria-hidden="true" class="icon-dots">
                                <use xlink:href="#dots" />
                            </svg>
                            <div class="actions__dropdown-wrapper">
                                <div class="actions__dropdown">
                                    <a href="#" class="actions__link">
                                        Редактировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Заблокировать
                                    </a>
                                    <a href="#" class="actions__link">
                                        Перевести в резерв
                                    </a>
                                    <a href="#" class="actions__link">
                                        Удалить
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <div class="pagination__item-count">
            Строк на странице
            <div class="pagination__item-count-select">
                <select name="offset" class="js-custom-select" data-position-top>
                    <option value="10" selected>10</option>
                    <option value="9">9</option>
                    <option value="8">8</option>
                    <option value="7">7</option>
                    <option value="6">6</option>
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                </select>
            </div>
        </div>
        <div class="pagination__links">
            <a href="#" class="pagination__prev-link">
                <svg width="10" height="18" aria-hidden="true" class="icon-arrow-left">
                    <use xlink:href="#arrow-left" />
                </svg>
            </a>
            <div class="pagination__pages-links">
                <a href="#" class="pagination__pages-link">
                    1
                </a>
                <a href="#" class="pagination__pages-link">
                    2
                </a>
                <a href="#" class="pagination__pages-link">
                    3
                </a>
                <a href="#" class="pagination__pages-link">
                    ...
                </a>
                <a href="#" class="pagination__pages-link">
                    30
                </a>
            </div>
            <a href="#" class="pagination__next-link">
                <svg width="10" height="18" aria-hidden="true" class="icon-arrow-left">
                    <use xlink:href="#arrow-left" />
                </svg>
            </a>
        </div>
    </div>
</section>
