<section class="create-event">
    <h2 class="section-heading">
        Мероприятия
    </h2>
    <div class="create-event__content">
        <form action="/" method="POST" class="create-event__form">
            <div class="create-event__form-group create-event__form-group--fullwidth">
                <label class="create-event__form-label">
                    Название
                    <span class="create-event__form-input-wrapper">
                        <input type="text" class="create-event__form-input" />
                    </span>
                </label>
            </div>
            <div class="create-event__form-group create-event__form-group--halfwidth">
                <label class="create-event__form-label">
                    Город
                </label>
                <div class="create-event__form-select">
                    <select name="role" class="js-custom-select">
                        <option value="1">Казань</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>
            <div class="create-event__form-group">
                <label class="create-event__form-label">
                    Дата и время начала
                    <span class="create-event__form-input-wrapper create-event__form-input-wrapper--calendar">
                        <input type="text" class="create-event__form-input js-datetime-input datepicker-here" data-timepicker="true" />
                    </span>
                </label>
            </div>
            <div class="create-event__form-group">
                <label class="create-event__form-label">
                    Продолжительность (ч)
                    <span class="create-event__form-input-wrapper create-event__form-input-wrapper--clock">
                        <input type="text" class="create-event__form-input js-numeric-input" />
                    </span>
                </label>
            </div>
            <div class="create-event__form-group create-event__form-group--halfwidth">
                <label class="create-event__form-label">
                    Место проведения
                    <span class="create-event__form-input-wrapper">
                        <input type="text" class="create-event__form-input" />
                    </span>
                </label>
            </div>
            <div class="create-event__form-group create-event__form-group--halfwidth create-event__form-group--high">
                <label class="create-event__form-label">
                    Обоснование
                    <span class="create-event__form-input-wrapper create-event__form-input-wrapper--flexible">
                        <textarea class="create-event__form-input create-event__form-input--textarea"></textarea>
                    </span>
                </label>
            </div>
            <div class="create-event__form-group create-event__form-group--halfwidth">
                <label class="create-event__form-label">
                    Формат
                </label>
                <div class="create-event__form-select">
                    <select name="role" class="js-custom-select">
                        <option value="1">Лекция</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>
            <div class="create-event__form-group create-event__form-group--halfwidth">
                <label class="create-event__form-label">
                    Продукт
                </label>
                <div class="create-event__form-select">
                    <select name="role" class="js-custom-select">
                        <option value="1">Лекция</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="1">Лекция</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="1">Лекция</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="1">Лекция</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="1">Лекция</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>
            <div class="create-event__form-group create-event__form-group--halfwidth">
                <label class="create-event__form-label">
                    Руководитель
                </label>
                <div class="create-event__form-select">
                    <select name="role" class="js-custom-select">
                        <option value="">Выберите лектора</option>
                        <option value="1">Петров А.А.</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>
            <div class="create-event__form-group create-event__form-group--halfwidth">
                <label class="create-event__form-label">
                    Планируемое количество участников
                </label>
                <div class="create-event__form-select">
                    <select name="role" class="js-custom-select">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>
            <div class="create-event__form-group create-event__form-group--fullwidth">
                <label class="create-event__form-label">
                    Лекторы
                </label>
                <div class="create-event__lectors">
                    <div class="create-event__lectors-header">
                        <span class="create-event__lectors-heading">
                            № лекции
                        </span>
                        <span class="create-event__lectors-heading">
                            Лектор
                        </span>
                        <span class="create-event__lectors-heading">
                            Логистика
                        </span>
                        <span class="create-event__lectors-heading">
                            Статус
                        </span>
                    </div>
                    <div class="create-event__lectors-cards">
                        <div class="create-event__lectors-card">
                            <div class="create-event__lectors-card-panel">
                                <div class="create-event__lectors-card-panel-item">
                                    Лекция 3
                                </div>
                                <div class="create-event__lectors-card-panel-item">
                                    <div class="create-event__lectors-select">
                                        <select name="role" class="js-custom-select">
                                            <option value="">Выберите лектора</option>
                                            <option value="1">Петров А.А.</option>
                                            <option value="1">Петров Алесандр Петрович</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="create-event__lectors-card-panel-item">
                                    <label class="create-event__lectors-checkbox">
                                        <input type="checkbox" class="create-event__lectors-checkbox-input" />
                                        <span class="create-event__lectors-checkbox-mark"></span>
                                    </label>
                                </div>
                                <div class="create-event__lectors-card-panel-item">
                                    <input type="text" class="create-event__lectors-input" />
                                </div>
                                <div class="create-event__lectors-card-panel-item">
                                    <a href="#" class="create-event__lectors-delete">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-delete">
                                            <use xlink:href="#delete" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="create-event__lectors-card">
                            <div class="create-event__lectors-card-panel">
                                <div class="create-event__lectors-card-panel-item">
                                    Лекция 3
                                </div>
                                <div class="create-event__lectors-card-panel-item">
                                    <div class="create-event__lectors-select">
                                        <select name="role" class="js-custom-select">
                                            <option value="1">Петров А.А.</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="create-event__lectors-card-panel-item">
                                    <label class="create-event__lectors-checkbox">
                                        <input type="checkbox" class="create-event__lectors-checkbox-input" />
                                        <span class="create-event__lectors-checkbox-mark"></span>
                                    </label>
                                </div>
                                <div class="create-event__lectors-card-panel-item">
                                    <input type="text" class="create-event__lectors-input" />
                                </div>
                                <div class="create-event__lectors-card-panel-item">
                                    <a href="#" class="create-event__lectors-delete">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-delete">
                                            <use xlink:href="#delete" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="create-event__lectors-btns">
                        <a href="#" class="btn create-event__lectors-btn">
                            Добавить
                        </a>
                        <a href="#" class="btn btn--grey create-event__lectors-btn">
                            Проверить
                        </a>
                    </div>
                </div>
            </div>
            <div class="create-event__form-group create-event__form-group--halfwidth">
                <label class="create-event__form-label">
                    Прикрепить файлы
                </label>
                <div class="create-event__file-upload js-file-upload">
                    <div class="create-event__file-upload-dropzone">
                        <label class="create-event__file-label">
                            <input type="file" name="file1" />
                        </label>
                        <label class="create-event__file-label">
                            <input type="file" name="file2" />
                        </label>
                        <label class="create-event__file-label">
                            <input type="file" name="file3" />
                        </label>
                    </div>
                    <div class="create-event__files">
                        <!-- <div class="create-event__file">
                            <svg width="20" height="20" aria-hidden="true" class="icon-documents">
                                <use xlink:href="#documents" />
                            </svg>
                            Название файла
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="create-event__form-group create-event__form-group--fullwidth">
                <button type="submit" class="btn create-event__submit">Сохранить</button>
            </div>
        </form>
    </div>
</section>
