<section class="event">
    <h2 class="section-heading">
        Мероприятия
    </h2>
    <nav class="inner-nav">
        <a href="#" class="inner-nav__link">
            Календарь мероприятий
        </a>
        <a href="#" class="inner-nav__link">
            Мои мероприятия
        </a>
        <a href="#" class="inner-nav__link active">
            На согласовании
        </a>
        <a href="#" class="inner-nav__link">
            Отклоненные
        </a>
    </nav>
    <div class="event__content">
        <div class="event__top-block">
            <h1 class="event__heading">
                Компания «Ипсен» заявляет о регистрации расширенного показания по препарату Диспорт
            </h1>
            <div class="event__info">
                <div class="event__info-item">
                    <div class="event__info-item-key">
                        Город
                    </div>
                    <div class="event__info-item-value">
                        Москва
                    </div>
                </div>
                <div class="event__info-item">
                    <div class="event__info-item-key">
                        Дата
                    </div>
                    <div class="event__info-item-value">
                        15/08/2020
                    </div>
                </div>
                <div class="event__info-item">
                    <div class="event__info-item-key">
                        Время начала
                    </div>
                    <div class="event__info-item-value">
                        10:00
                    </div>
                </div>
                <div class="event__info-item">
                    <div class="event__info-item-key">
                        Продолжительность
                    </div>
                    <div class="event__info-item-value">
                        6 ч.
                    </div>
                </div>
                <div class="event__info-item">
                    <div class="event__info-item-key">
                        Место проведения
                    </div>
                    <div class="event__info-item-value">
                        Тверская улица, дом 13, оф 425
                    </div>
                </div>
            </div>
        </div>
        <div class="event__bottom-block">
            <div class="event__row">
                <div class="event__left-col">
                    <div class="event__main-info">
                        <div class="event__main-info-item">
                            <div class="event__main-info-item-key">
                                Формат
                            </div>
                            <div class="event__main-info-item-value">
                                Мероприятие, посвященное заболеванию (медицинский отдел)
                            </div>
                        </div>
                        <div class="event__main-info-item">
                            <div class="event__main-info-item-key">
                                Продукт
                            </div>
                            <div class="event__main-info-item-value">
                                Филлеры
                            </div>
                        </div>
                        <div class="event__main-info-item">
                            <div class="event__main-info-item-key">
                                Обоснование
                            </div>
                            <div class="event__main-info-item-value">
                                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую
                                коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое
                                время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                            </div>
                        </div>
                        <div class="event__main-info-item">
                            <div class="event__main-info-item-key">
                                Планируемое количество участников
                            </div>
                            <div class="event__main-info-item-value">
                                6
                            </div>
                        </div>
                        <div class="event__main-info-item">
                            <div class="event__main-info-item-key">
                                Ссылка на опрос
                            </div>
                            <div class="event__main-info-item-value">
                                <a href="https://afinacom/23221">
                                    https://afinacom/23221
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event__right-col">
                    <div class="event__members">
                        <h3 class="event__members-heading">
                            Участники мероприятия
                        </h3>
                        <div class="event__members-items">
                            <div class="event__members-item">
                                <h4 class="event__members-item-title">
                                    Руководитель
                                </h4>
                                <div class="event__members-names">
                                    <div class="event__members-name">
                                        Никоноров А.И.
                                    </div>
                                </div>
                            </div>
                            <div class="event__members-item">
                                <h4 class="event__members-item-title">
                                    Инициатор
                                </h4>
                                <div class="event__members-names">
                                    <div class="event__members-name">
                                        Иванова И.И.
                                    </div>
                                </div>
                            </div>
                            <div class="event__members-item">
                                <h4 class="event__members-item-title">
                                    Лекторы
                                </h4>
                                <div class="event__members-names">
                                    <div class="event__members-name">
                                        Потанин Г.А.
                                    </div>
                                    <div class="event__members-name">
                                        Воробьева М.А.
                                    </div>
                                    <div class="event__members-name">
                                        Петров Д.В.
                                    </div>
                                    <div class="event__members-name">
                                        Карташов А.А.
                                    </div>
                                    <div class="event__members-name">
                                        Харитонов Г.В.
                                    </div>
                                    <div class="event__members-name">
                                        Треснев С.А.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="event__documents">
                        <h3 class="event__documents-heading">
                            Прикрепленные документы
                        </h3>
                        <a href="#" class="event__documents-link">
                            <svg width="20" height="20" aria-hidden="true" class="icon-documents">
                                <use xlink:href="#documents" />
                            </svg>
                            <span class="event__documents-link-text">
                                Программа мероприятия
                            </span>
                           
                        </a>
                        <a href="#" class="event__documents-link">
                            <svg width="20" height="20" aria-hidden="true" class="icon-documents">
                                <use xlink:href="#documents" />
                            </svg>
                            <span class="event__documents-link-text">
                                Бланк пригласительного
                            </span>
                           
                        </a>
                    </div>
                </div>
            </div>
           

            <div class="event__action-btns">
                <a href="#" class="btn event__action-btn">
                    Согласовать
                </a>
                <a href="#" class="btn btn--grey event__action-btn">
                    Отклонить
                </a>
            </div>
            <form action="/" method="POST" class="event__ticket-form">
                <label for="ticket" class="event__ticket-form-label">
                    Комментарий
                </label>
                <textarea name="ticket" id="ticket" class="event__ticket-form-textarea" required></textarea>
                <button type="submit" class="btn event__ticket-form-submit">
                    Отправить
                </button>
            </form>
        </div>
    </div>
</section>
