<section class="event">
    <h2 class="section-heading">
        Отчеты
    </h2>

    <div class="event__content">
        <div class="event__top-block">
            <h1 class="event__heading">
                Компания «Ипсен» заявляет о регистрации расширенного показания по препарату Диспорт
            </h1>
            <div class="event__info">
                <div class="event__info-item">
                    <div class="event__info-item-key">
                        Город
                    </div>
                    <div class="event__info-item-value">
                        Москва
                    </div>
                </div>
                <div class="event__info-item">
                    <div class="event__info-item-key">
                        Дата
                    </div>
                    <div class="event__info-item-value">
                        15/08/2020
                    </div>
                </div>
                <div class="event__info-item">
                    <div class="event__info-item-key">
                        Время начала
                    </div>
                    <div class="event__info-item-value">
                        10:00
                    </div>
                </div>
                <div class="event__info-item">
                    <div class="event__info-item-key">
                        Продолжительность
                    </div>
                    <div class="event__info-item-value">
                        6 ч.
                    </div>
                </div>
                <div class="event__info-item">
                    <div class="event__info-item-key">
                        Место проведения
                    </div>
                    <div class="event__info-item-value">
                        Тверская улица, дом 13, оф 425
                    </div>
                </div>
            </div>
        </div>
        <div class="event__bottom-block">
            <div class="event__row">
                <div class="event__left-col">
                    <div class="event__main-info">
                        <div class="event__main-info-item">
                            <div class="event__main-info-item-key">
                                Формат
                            </div>
                            <div class="event__main-info-item-value">
                                Мероприятие, посвященное заболеванию (медицинский отдел)
                            </div>
                        </div>
                        <div class="event__main-info-item">
                            <div class="event__main-info-item-key">
                                Продукт
                            </div>
                            <div class="event__main-info-item-value">
                                Филлеры
                            </div>
                        </div>
                        <div class="event__main-info-item">
                            <div class="event__main-info-item-key">
                                Обоснование
                            </div>
                            <div class="event__main-info-item-value">
                                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую
                                коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое
                                время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                            </div>
                        </div>
                        <div class="event__main-info-item">
                            <div class="event__main-info-item-key">
                                Участники мероприятия
                            </div>
                            <div class="event__main-info-summary">
                                <div class="event__main-info-summary-item">
                                    <div class="event__main-info-summary-key">
                                        Руководитель
                                    </div>
                                    <div class="event__main-info-summary-value">
                                        <strong>Никоноров А.И.</strong>
                                    </div>
                                </div>
                                <div class="event__main-info-summary-item">
                                    <div class="event__main-info-summary-key">
                                        Инициатор
                                    </div>
                                    <div class="event__main-info-summary-value">
                                        <strong>Иванова И.И.</strong>
                                    </div>
                                </div>
                                <div class="event__main-info-summary-item">
                                    <div class="event__main-info-table">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Лекторы
                                                    </th>
                                                    <th>
                                                        Оценка
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            Потанин Г.А.
                                                        </strong>
                                                        - тут будут перечислены через запятую регалии данного лектора
                                                    </td>
                                                    <td>
                                                        <strong>
                                                            3
                                                        </strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            Петров Д.В
                                                        </strong>
                                                        - тут будут перечислены через запятую регалии данного лектора
                                                    </td>
                                                    <td>
                                                        <strong>
                                                            9
                                                        </strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            Петров Д.В
                                                        </strong>
                                                        - тут будут перечислены через запятую регалии данного лектора
                                                    </td>
                                                    <td>
                                                        <strong>
                                                            7,8
                                                        </strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            Харитонов Г.В.
                                                        </strong>
                                                        - тут будут перечислены через запятую регалии данного лектора
                                                    </td>
                                                    <td>
                                                        <strong>
                                                            10
                                                        </strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            Карташов А.А.
                                                        </strong>
                                                        - тут будут перечислены через запятую регалии данного лектора
                                                    </td>
                                                    <td>
                                                        <strong>
                                                            6,7
                                                        </strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            Треснев С.А.
                                                        </strong>
                                                        - тут будут перечислены через запятую регалии данного лектора
                                                    </td>
                                                    <td>
                                                        <strong>
                                                            8
                                                        </strong>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="event__main-info-summary-item">
                                    <div class="event__main-info-table">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Оценка обратной связи
                                                    </th>
                                                    <th>
                                                        Оценка
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        Соответствует ли программа и наполнение мероприятия Вашим профессиональным ожиданиям?
                                                    </td>
                                                    <td>
                                                        <strong>
                                                            3
                                                        </strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Как Вы оцениваете для себя формат мероприятия?
                                                    </td>
                                                    <td>
                                                        <strong>
                                                            9
                                                        </strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Насколько ожидаемо, что Вы примете участие в подобном мероприятии в будущем или посоветуете знакомым?
                                                    </td>
                                                    <td>
                                                        <strong>
                                                            7,8
                                                        </strong>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="event__main-info-summary-item">
                                    <div class="event__main-info-summary-key">
                                        Общая оценка мероприятия: 7,8
                                    </div>
                                   
                                </div>
                                <div class="event__main-info-summary-item">
                                    <div class="event__main-info-summary-key">
                                        Планируемое количество участников: 20
                                    </div>
                                   
                                </div>
                                <div class="event__main-info-summary-item">
                                    <div class="event__main-info-summary-key">
                                        Фактическое количество участников: 
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <form action="/" method="POST" class="event__edit-form">
                            <input type="text" class="event__edit-form-input">
                            <button type="submit" class="btn event__edit-form-submit">Сохранить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
