<section class="events-calendar light-bg">
    <img src="img/tower-bg.jpg" alt="" class="events-calendar__bg" />
    <h2 class="section-heading">
        Мероприятия
    </h2>
    <nav class="inner-nav">
        <a href="#" class="inner-nav__link active">
            Календарь мероприятий
        </a>
        <a href="#" class="inner-nav__link">
            Мои мероприятия
        </a>
    </nav>
    <div class="filters">
        <div class="filters__icon">
            <svg width="24" height="24" aria-hidden="true" class="icon-filters">
                <use xlink:href="#filters" />
            </svg>
        </div>
        <form action="/" class="filters__form">
            <div class="filters__custom-select">
                <select name="city" class="js-custom-select">
                    <option value="all" selected>Все города</option>
                    <option value="kazan">Казань</option>
                    <option value="moscow">Москва</option>
                </select>
            </div>
            <div class="filters__custom-select">
                <select name="product" class="js-custom-select">
                    <option value="all" selected>Все продукты</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="filters__custom-select">
                <select name="product" class="js-custom-select">
                    <option value="all" selected>Все форматы</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="filters__custom-select">
                <select name="product" class="js-custom-select">
                    <option value="all" selected>Все инициаторы</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="filters__custom-select">
                <select name="product" class="js-custom-select">
                    <option value="all" selected>Все лекторы</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
        </form>
    </div>
    <div class="events-calendar__calendar">
        <div class="events-calendar__calendar-nav">
            <a href="#" class="events-calendar__calendar-prev-link">
                <svg width="10" height="18" aria-hidden="true" class="icon-arrow-left">
                    <use xlink:href="#arrow-left" />
                </svg>
            </a>
            <div class="events-calendar__calendar-date">
                Июнь 2020
            </div>
            <a href="#" class="events-calendar__calendar-next-link">
                <svg width="10" height="18" aria-hidden="true" class="icon-arrow-left">
                    <use xlink:href="#arrow-left" />
                </svg>
            </a>
        </div>
        <div class="events-calendar__content">
            <table>
                <thead>
                    <tr>
                        <th>
                            Понедельник
                        </th>
                        <th>
                            Вторник
                        </th>
                        <th>
                            Среда
                        </th>
                        <th>
                            Четверг
                        </th>
                        <th>
                            Пятница
                        </th>
                        <th>
                            Суббота
                        </th>
                        <th>
                            Воскресенье
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span class="day">
                                1
                            </span>
                        </td>
                        <td>
                            <span class="day">
                                2
                            </span>
                        </td>
                        <td>
                            <span class="day">
                                3
                            </span>
                        </td>
                        <td>
                            <span class="day">
                                4
                            </span>
                        </td>
                        <td>
                            <span class="day">
                                5
                            </span>
                        </td>
                        <td>
                            <span class="day">
                                6
                            </span>
                        </td>
                        <td>
                            <span class="day">
                                7
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="day current">
                                8
                            </span>
                            <span class="events">
                                <span class="event" ie-style="--label-color: #ecc04d;" style="--label-color: #ecc04d;">
                                    <a href="#" class="event__tag">
                                        Диспорт
                                    </a>

                                    <span class="event__details-wrapper">
                                        <span class="event__details">
                                            <a href="#" class="event__details-title">
                                                Презентация новой линейки филлеров
                                            </a>
                                            <span class="event__details-time">
                                                9:00 - 18.30
                                            </span>
                                            <span class="event__details-type">
                                                Вебинар
                                            </span>
                                            <span class="event__details-responsible">
                                                Ответственный за мероприятие:
                                            </span>
                                            <span class="event__details-responsible-name">
                                                Юсупова А.Н.
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span class="event" ie-style="--label-color: #74b65f;" style="--label-color: #74b65f;">
                                    <a href="#" class="event__tag">
                                        Филлеры
                                    </a>
                                    <span class="event__details-wrapper">
                                        <span class="event__details">
                                            <a href="#" class="event__details-title">
                                                Презентация новой линейки филлеров
                                            </a>
                                            <span class="event__details-time">
                                                9:00 - 18.30
                                            </span>
                                            <span class="event__details-type">
                                                Вебинар
                                            </span>
                                            <span class="event__details-responsible">
                                                Ответственный за мероприятие:
                                            </span>
                                            <span class="event__details-responsible-name">
                                                Юсупова А.Н.
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </td>
                        <td>
                            <span class="day">
                                9
                            </span>
                        </td>
                        <td>
                            <span class="day">
                                10
                            </span>
                            <span class="events">
                                <span class="event" ie-style="--label-color: #74b65f;" style="--label-color: #74b65f;">
                                    <a href="#" class="event__tag">
                                        Филлеры
                                    </a>
                                    <span class="event__details-wrapper">
                                        <span class="event__details">
                                            <a href="#" class="event__details-title">
                                                Презентация новой линейки филлеров
                                            </a>
                                            <span class="event__details-time">
                                                9:00 - 18.30
                                            </span>
                                            <span class="event__details-type">
                                                Вебинар
                                            </span>
                                            <span class="event__details-responsible">
                                                Ответственный за мероприятие:
                                            </span>
                                            <span class="event__details-responsible-name">
                                                Юсупова А.Н.
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </td>
                        <td>
                            <span class="day">
                                11
                            </span>
                        </td>
                        <td>
                            <span class="day">
                                12
                            </span>
                        </td>
                        <td>
                            <span class="day">
                                13
                            </span>
                        </td>
                        <td>
                            <span class="day">
                                14
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="day">
                                15
                            </span>
                        </td>
                        <td>
                            <span class="day">
                                16
                            </span>
                        </td>
                        <td>
                            <span class="day">
                                17
                            </span>
                        </td>
                        <td>
                            <span class="day">
                                18
                            </span>
                        </td>
                        <td>
                            <span class="day">
                                19
                            </span>
                            <span class="events">
                                <span class="event" ie-style="--label-color: #6979b8;" style="--label-color: #6979b8;">
                                    <a href="#" class="event__tag">
                                        Диспорт+Мезо
                                    </a>
                                    <span class="event__details-wrapper">
                                        <span class="event__details">
                                            <a href="#" class="event__details-title">
                                                Презентация новой линейки филлеров
                                            </a>
                                            <span class="event__details-time">
                                                9:00 - 18.30
                                            </span>
                                            <span class="event__details-type">
                                                Вебинар
                                            </span>
                                            <span class="event__details-responsible">
                                                Ответственный за мероприятие:
                                            </span>
                                            <span class="event__details-responsible-name">
                                                Юсупова А.Н.
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </td>
                        <td>
                            <span class="day">
                                20
                            </span>
                        </td>
                        <td>
                            <span class="day">
                                21
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="day">
                                22
                            </span>
                        </td>
                        <td>
                            <span class="day">
                                23
                            </span>
                            <span class="events">
                                <span class="event" ie-style="--label-color: #e7a580;" style="--label-color: #e7a580;">
                                    <a href="#" class="event__tag">
                                        Диспорт+Филлер
                                    </a>
                                    <span class="event__details-wrapper">
                                        <span class="event__details">
                                            <a href="#" class="event__details-title">
                                                Презентация новой линейки филлеров
                                            </a>
                                            <span class="event__details-time">
                                                9:00 - 18.30
                                            </span>
                                            <span class="event__details-type">
                                                Вебинар
                                            </span>
                                            <span class="event__details-responsible">
                                                Ответственный за мероприятие:
                                            </span>
                                            <span class="event__details-responsible-name">
                                                Юсупова А.Н.
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </td>
                        <td>
                            <span class="day">
                                24
                            </span>
                        </td>
                        <td>
                            <span class="day">
                                25
                            </span>
                        </td>
                        <td>
                            <span class="day">
                                26
                            </span>
                        </td>
                        <td>
                            <span class="day">
                                27
                            </span>
                        </td>
                        <td>
                            <span class="day">
                                28
                            </span>
                            <span class="events">
                                <span class="event" ie-style="--label-color: #e7a580;" style="--label-color: #e7a580;">
                                    <a href="#" class="event__tag">
                                        Диспорт+Филлер
                                    </a>
                                    <span class="event__details-wrapper">
                                        <span class="event__details">
                                            <a href="#" class="event__details-title">
                                                Презентация новой линейки филлеров
                                            </a>
                                            <span class="event__details-time">
                                                9:00 - 18.30
                                            </span>
                                            <span class="event__details-type">
                                                Вебинар
                                            </span>
                                            <span class="event__details-responsible">
                                                Ответственный за мероприятие:
                                            </span>
                                            <span class="event__details-responsible-name">
                                                Юсупова А.Н.
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="day">
                                29
                            </span>
                        </td>
                        <td>
                            <span class="day">
                                30
                            </span>
                        </td>
                        <td>
                            <span class="day other-month">
                                1
                            </span>
                        </td>
                        <td>
                            <span class="day other-month">
                                2
                            </span>
                        </td>
                        <td>
                            <span class="day other-month">
                                3
                            </span>
                        </td>
                        <td>
                            <span class="day other-month">
                                4
                            </span>
                        </td>
                        <td>
                            <span class="day other-month">
                                5
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
