<section class="events-status">
    <h2 class="section-heading">
        Мероприятия
    </h2>
    <nav class="inner-nav">
        <a href="#" class="inner-nav__link">
            Календарь мероприятий
        </a>
        <a href="#" class="inner-nav__link">
            Мои мероприятия
        </a>
        <a href="#" class="inner-nav__link active">
            На согласовании
        </a>
        <a href="#" class="inner-nav__link">
            Черновик
        </a>
        <a href="#" class="inner-nav__link">
            Отклоненные
        </a>
        <a href="#" class="btn inner-nav__add-link">
            Добавить
            <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                <use xlink:href="#plus" />
            </svg>
        </a>
    </nav>
    <div class="filters">
        <div class="filters__icon">
            <svg width="24" height="24" aria-hidden="true" class="icon-filters">
                <use xlink:href="#filters" />
            </svg>
        </div>
        <form action="/" class="filters__form">
            <div class="filters__custom-select">
                <input readonly type="text" data-range="true" data-multiple-dates-separator=" - " class="filters__date-range-input datepicker-here" placeholder="Дата"/>
            </div>
            <div class="filters__custom-select">
                <select name="city" class="js-custom-select">
                    <option value="all" selected>Все города</option>
                    <option value="kazan">Казань</option>
                    <option value="moscow">Москва</option>
                </select>
            </div>
            <div class="filters__custom-select">
                <select name="product" class="js-custom-select">
                    <option value="all" selected>Все продукты</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="filters__custom-select">
                <select name="product" class="js-custom-select">
                    <option value="all" selected>Все форматы</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
        </form>
    </div>
    <div class="events-status__content">
        <ul class="events-status__list">
            <li class="events-status__list-item">
                <a href="#" class="events-status__card">
                    <div class="events-status__card-inner">
                        <div class="events-status__card-content">
                            <span class="events-status__card-label" ie-style="--label-color: #74b65f;" style="--label-color: #74b65f;">
                                Филлеры
                            </span>
                            <h4 class="events-status__card-title">
                                Компания «Ипсен» заявляет о регистрации расширенного показания по препарату Диспорт
                            </h4>
                        </div>
                        <div class="events-status__card-info">
                            20 августа, Москва
                        </div>
                        <div class="events-status__card-info">
                            Завершено
                        </div>
                    </div>
                    
                    <div class="events-status__card-colorcode" ie-style="--code-color: #66ccff;" style="--code-color: #66ccff;">
                        <span class="events-status__card-colorcode-arrow">
                            <svg width="20" height="20" aria-hidden="true" class="icon-long-arrow-right">
                                <use xlink:href="#long-arrow-right" />
                            </svg>
                        </span>
                      
                    </div>
                    
                </a>
            </li>
            <li class="events-status__list-item">
                <a href="#" class="events-status__card">
                    <div class="events-status__card-inner">
                        <div class="events-status__card-content">
                            <span class="events-status__card-label" ie-style="--label-color: #ecc04d;" style="--label-color: #ecc04d;">
                                Диспорт
                            </span>
                            <h4 class="events-status__card-title">
                                Компания «Ипсен» заявляет о регистрации расширенного показания по препарату Диспорт
                            </h4>
                        </div>
                        <div class="events-status__card-info">
                            20 августа, Москва
                        </div>
                        <div class="events-status__card-info">
                            Завершено
                        </div>
                    </div>
                    
                    <div class="events-status__card-colorcode" ie-style="--code-color: #ff6633;" style="--code-color: #ff6633;">
                        <span class="events-status__card-colorcode-arrow">
                            <svg width="20" height="20" aria-hidden="true" class="icon-long-arrow-right">
                                <use xlink:href="#long-arrow-right" />
                            </svg>
                        </span>
                      
                    </div>
                    
                </a>
            </li>
            <li class="events-status__list-item">
                <a href="#" class="events-status__card">
                    <div class="events-status__card-inner">
                        <div class="events-status__card-content">
                            <span class="events-status__card-label" ie-style="--label-color: #74b65f;" style="--label-color: #74b65f;">
                                Филлеры
                            </span>
                            <h4 class="events-status__card-title">
                                Компания «Ипсен» заявляет о регистрации расширенного показания по препарату Диспорт
                            </h4>
                        </div>
                        <div class="events-status__card-info">
                            20 августа, Москва
                        </div>
                        <div class="events-status__card-info">
                            Завершено
                        </div>
                    </div>
                    
                    <div class="events-status__card-colorcode" ie-style="--code-color: #66ccff;" style="--code-color: #66ccff;">
                        <span class="events-status__card-colorcode-arrow">
                            <svg width="20" height="20" aria-hidden="true" class="icon-long-arrow-right">
                                <use xlink:href="#long-arrow-right" />
                            </svg>
                        </span>
                      
                    </div>
                    
                </a>
            </li>
            <li class="events-status__list-item">
                <a href="#" class="events-status__card">
                    <div class="events-status__card-inner">
                        <div class="events-status__card-content">
                            <span class="events-status__card-label" ie-style="--label-color: #ecc04d;" style="--label-color: #ecc04d;">
                                Диспорт
                            </span>
                            <h4 class="events-status__card-title">
                                Компания «Ипсен» заявляет о регистрации расширенного показания по препарату Диспорт
                            </h4>
                        </div>
                        <div class="events-status__card-info">
                            20 августа, Москва
                        </div>
                        <div class="events-status__card-info">
                            Завершено
                        </div>
                    </div>
                    
                    <div class="events-status__card-colorcode" ie-style="--code-color: #ff6633;" style="--code-color: #ff6633;">
                        <span class="events-status__card-colorcode-arrow">
                            <svg width="20" height="20" aria-hidden="true" class="icon-long-arrow-right">
                                <use xlink:href="#long-arrow-right" />
                            </svg>
                        </span>
                      
                    </div>
                    
                </a>
            </li>
            <li class="events-status__list-item">
                <a href="#" class="events-status__card">
                    <div class="events-status__card-inner">
                        <div class="events-status__card-content">
                            <span class="events-status__card-label" ie-style="--label-color: #74b65f;" style="--label-color: #74b65f;">
                                Филлеры
                            </span>
                            <h4 class="events-status__card-title">
                                Компания «Ипсен» заявляет о регистрации расширенного показания по препарату Диспорт
                            </h4>
                        </div>
                        <div class="events-status__card-info">
                            20 августа, Москва
                        </div>
                        <div class="events-status__card-info">
                            Завершено
                        </div>
                    </div>
                    
                    <div class="events-status__card-colorcode" ie-style="--code-color: #66ccff;" style="--code-color: #66ccff;">
                        <span class="events-status__card-colorcode-arrow">
                            <svg width="20" height="20" aria-hidden="true" class="icon-long-arrow-right">
                                <use xlink:href="#long-arrow-right" />
                            </svg>
                        </span>
                      
                    </div>
                    
                </a>
            </li>
            <li class="events-status__list-item">
                <a href="#" class="events-status__card">
                    <div class="events-status__card-inner">
                        <div class="events-status__card-content">
                            <span class="events-status__card-label" ie-style="--label-color: #ecc04d;" style="--label-color: #ecc04d;">
                                Диспорт
                            </span>
                            <h4 class="events-status__card-title">
                                Компания «Ипсен» заявляет о регистрации расширенного показания по препарату Диспорт
                            </h4>
                        </div>
                        <div class="events-status__card-info">
                            20 августа, Москва
                        </div>
                        <div class="events-status__card-info">
                            Завершено
                        </div>
                    </div>
                    
                    <div class="events-status__card-colorcode" ie-style="--code-color: #ff6633;" style="--code-color: #ff6633;">
                        <span class="events-status__card-colorcode-arrow">
                            <svg width="20" height="20" aria-hidden="true" class="icon-long-arrow-right">
                                <use xlink:href="#long-arrow-right" />
                            </svg>
                        </span>
                      
                    </div>
                    
                </a>
            </li>
        </ul>
    </div>
</section>
