<div class="auth-wrapper">
    <div class="login">
        <img src="img/logo.png" alt="" class="login__logo" width="140">
        <div class="login__remember-password">
            <h2 class="login__remember-password-heading">
                Спасибо
            </h2>
            <div class="login__remember-password-text">
                Создайте новый пароль по ссылке в письме, которое мы отправили на mail@gmail.com
            </div>
        </div>
        
        <a href="login.html" class="login__back-link">
            <svg width="10" height="18" aria-hidden="true" class="icon-arrow-left">
                <use xlink:href="#arrow-left" />
            </svg>
            Вернуться на страницу входа
        </a>
    </div>
</div>