<div class="auth-wrapper">
    <div class="login">
        <img src="img/logo.png" alt="" class="login__logo" width="140">
        <form action="/" method="POST" class="login__form" autocomplete="off">
            <div class="login__form-row">
                <label for="login" class="login__form-label">
                    Логин
                </label>
                <input type="text" class="login__form-input" name="login" id="login" required>
            </div>
            <div class="login__form-row">
                <label for="password" class="login__form-label">
                    Пароль
                </label>
                <input type="password" class="login__form-input" name="password" id="password" required>
            </div>
            <button type="submit" class="login__form-submit">
                Войти
            </button>
        </form>
        <a href="remember-password.html" class="login__remember-password-link">
            Восстановить пароль
        </a>
    </div>
</div>