<section class="my-events">
    <h2 class="section-heading">
        Мероприятия
    </h2>
    <nav class="inner-nav">
        <a href="#" class="inner-nav__link">
            Календарь мероприятий
        </a>
        <a href="#" class="inner-nav__link active">
            Мои мероприятия
        </a>
    </nav>
    <div class="filters">
        <div class="filters__icon">
            <svg width="24" height="24" aria-hidden="true" class="icon-filters">
                <use xlink:href="#filters" />
            </svg>
        </div>
        <form action="/" class="filters__form">
            <div class="filters__custom-select">
                <select name="city" class="js-custom-select">
                    <option value="all" selected>Все города</option>
                    <option value="kazan">Казань</option>
                    <option value="moscow">Москва</option>
                </select>
            </div>
            <div class="filters__custom-select">
                <select name="product" class="js-custom-select">
                    <option value="all" selected>Все продукты</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="filters__custom-select">
                <select name="product" class="js-custom-select">
                    <option value="all" selected>Все форматы</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
        </form>
    </div>
    <div class="my-events__content">
        <ul class="my-events__list">
            <li class="my-events__list-item">
                <a href="#" class="my-events__card">
                    <span class="my-events__card-tag" ie-style="--label-color: #74b65f;" style="--label-color: #74b65f;">
                        Филлеры
                    </span>
                    <h3 class="my-events__card-title">
                        Компания «Ипсен» заявляет о регистрации расширенного показания по препарату Диспорт
                    </h3>
                    <span class="my-events__card-date">
                        20 августа, Москва
                    </span>
                    <span class="my-events__card-arrow">
                        <svg width="20" height="20" aria-hidden="true" class="icon-long-arrow-right">
                            <use xlink:href="#long-arrow-right" />
                        </svg>
                    </span>
                </a>
            </li>
            <li class="my-events__list-item">
                <a href="#" class="my-events__card">
                    <span class="my-events__card-tag" ie-style="--label-color: #74b65f;" style="--label-color: #74b65f;">
                        Филлеры
                    </span>
                    <h3 class="my-events__card-title">
                        БТА и филлеры: техника работы
                    </h3>
                    <span class="my-events__card-date">
                        3 сентября, Сочи
                    </span>
                    <span class="my-events__card-arrow">
                        <svg width="20" height="20" aria-hidden="true" class="icon-long-arrow-right">
                            <use xlink:href="#long-arrow-right" />
                        </svg>
                    </span>
                </a>
            </li>
            <li class="my-events__list-item">
                <a href="#" class="my-events__card">
                    <span class="my-events__card-tag" ie-style="--label-color: #ecc04d;" style="--label-color: #ecc04d;">
                        Диспорт
                    </span>
                    <h3 class="my-events__card-title">
                        Диспорт – от ультра-мягкой до выраженной коррекции. Как, кому и почему?
                    </h3>
                    <span class="my-events__card-date">
                        23 сентября, Красноярск
                    </span>
                    <span class="my-events__card-arrow">
                        <svg width="20" height="20" aria-hidden="true" class="icon-long-arrow-right">
                            <use xlink:href="#long-arrow-right" />
                        </svg>
                    </span>
                </a>
            </li>
            <li class="my-events__list-item">
                <a href="#" class="my-events__card">
                    <span class="my-events__card-tag" ie-style="--label-color: #74b65f;" style="--label-color: #74b65f;">
                        Филлеры
                    </span>
                    <h3 class="my-events__card-title">
                        Компания «Ипсен» заявляет о регистрации расширенного показания по препарату Диспорт
                    </h3>
                    <span class="my-events__card-date">
                        20 августа, Москва
                    </span>
                    <span class="my-events__card-arrow">
                        <svg width="20" height="20" aria-hidden="true" class="icon-long-arrow-right">
                            <use xlink:href="#long-arrow-right" />
                        </svg>
                    </span>
                </a>
            </li>
            <li class="my-events__list-item">
                <a href="#" class="my-events__card">
                    <span class="my-events__card-tag" ie-style="--label-color: #74b65f;" style="--label-color: #74b65f;">
                        Филлеры
                    </span>
                    <h3 class="my-events__card-title">
                        БТА и филлеры: техника работы
                    </h3>
                    <span class="my-events__card-date">
                        3 сентября, Сочи
                    </span>
                    <span class="my-events__card-arrow">
                        <svg width="20" height="20" aria-hidden="true" class="icon-long-arrow-right">
                            <use xlink:href="#long-arrow-right" />
                        </svg>
                    </span>
                </a>
            </li>
            <li class="my-events__list-item">
                <a href="#" class="my-events__card">
                    <span class="my-events__card-tag" ie-style="--label-color: #ecc04d;" style="--label-color: #ecc04d;">
                        Диспорт
                    </span>
                    <h3 class="my-events__card-title">
                        Диспорт – от ультра-мягкой до выраженной коррекции. Как, кому и почему?
                    </h3>
                    <span class="my-events__card-date">
                        23 сентября, Красноярск
                    </span>
                    <span class="my-events__card-arrow">
                        <svg width="20" height="20" aria-hidden="true" class="icon-long-arrow-right">
                            <use xlink:href="#long-arrow-right" />
                        </svg>
                    </span>
                </a>
            </li>
            <li class="my-events__list-item">
                <a href="#" class="my-events__card">
                    <span class="my-events__card-tag" ie-style="--label-color: #74b65f;" style="--label-color: #74b65f;">
                        Филлеры
                    </span>
                    <h3 class="my-events__card-title">
                        Компания «Ипсен» заявляет о регистрации расширенного показания по препарату Диспорт
                    </h3>
                    <span class="my-events__card-date">
                        20 августа, Москва
                    </span>
                    <span class="my-events__card-arrow">
                        <svg width="20" height="20" aria-hidden="true" class="icon-long-arrow-right">
                            <use xlink:href="#long-arrow-right" />
                        </svg>
                    </span>
                </a>
            </li>
            <li class="my-events__list-item">
                <a href="#" class="my-events__card">
                    <span class="my-events__card-tag" ie-style="--label-color: #74b65f;" style="--label-color: #74b65f;">
                        Филлеры
                    </span>
                    <h3 class="my-events__card-title">
                        БТА и филлеры: техника работы
                    </h3>
                    <span class="my-events__card-date">
                        3 сентября, Сочи
                    </span>
                    <span class="my-events__card-arrow">
                        <svg width="20" height="20" aria-hidden="true" class="icon-long-arrow-right">
                            <use xlink:href="#long-arrow-right" />
                        </svg>
                    </span>
                </a>
            </li>
            <li class="my-events__list-item">
                <a href="#" class="my-events__card">
                    <span class="my-events__card-tag" ie-style="--label-color: #ecc04d;" style="--label-color: #ecc04d;">
                        Диспорт
                    </span>
                    <h3 class="my-events__card-title">
                        Диспорт – от ультра-мягкой до выраженной коррекции. Как, кому и почему?
                    </h3>
                    <span class="my-events__card-date">
                        23 сентября, Красноярск
                    </span>
                    <span class="my-events__card-arrow">
                        <svg width="20" height="20" aria-hidden="true" class="icon-long-arrow-right">
                            <use xlink:href="#long-arrow-right" />
                        </svg>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
