<section class="new-user">
    <h2 class="section-heading">
        Новый пользователь
    </h2>
    <div class="new-user__content">
        <form action="/" method="POST" class="new-user__form">
            <h3 class="new-user__form-heading">
                Данные пользователя
            </h3>
            <div class="new-user__form-group">
                <div class="new-user__form-row">
                    <div class="new-user__form-col">
                        <label class="new-user__form-label">
                            Фамилия *
                        </label>
                        <input type="text" class="new-user__form-input" />
                    </div>
                    <div class="new-user__form-col">
                        <label class="new-user__form-label">
                            Имя *
                        </label>
                        <input type="text" class="new-user__form-input" />
                    </div>
                    <div class="new-user__form-col">
                        <label class="new-user__form-label">
                            Отчество *
                        </label>
                        <input type="text" class="new-user__form-input" />
                    </div>
                    <div class="new-user__form-col">
                        <label class="new-user__form-label">
                            Роль *
                        </label>
                        <div class="new-user__form-select">
                            <select name="role" class="js-custom-select">
                                <option value="1">Лектор</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                    <div class="new-user__form-col">
                        <label class="new-user__form-label">
                            Должность
                        </label>
                        <div class="new-user__form-select">
                            <select name="role" class="js-custom-select">
                                <option value="1">Руководитель</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-user__form-group">
                <div class="new-user__form-row">
                    <div class="new-user__form-col">
                        <label class="new-user__form-label">
                            Город *
                        </label>
                        <div class="new-user__form-select">
                            <select name="role" class="js-custom-select">
                                <option value="1">Казань</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-user__form-group">
                <div class="new-user__form-row">
                    <div class="new-user__form-col">
                        <label class="new-user__form-label">
                            Телефон *
                        </label>
                        <input type="tel" class="new-user__form-input js-phone-input" />
                    </div>
                </div>
            </div>
            <div class="new-user__form-group">
                <div class="new-user__form-row">
                    <div class="new-user__form-col">
                        <label class="new-user__form-label">
                            Email *
                        </label>
                        <input type="email" class="new-user__form-input" />
                    </div>
                </div>
            </div>
            <h3 class="new-user__form-heading">
                Данные для входа в кабинет
            </h3>
            <div class="new-user__form-group">
                <div class="new-user__form-row">
                    <div class="new-user__form-col">
                        <label class="new-user__form-label">
                            Логин *
                        </label>
                        <input type="text" class="new-user__form-input" />
                    </div>
                    <div class="new-user__form-col">
                        <label class="new-user__form-label">
                            Пароль *
                        </label>
                        <input type="password" class="new-user__form-input" />
                    </div>
                    <div class="new-user__form-col">
                        <label class="new-user__form-label">
                            Повторите пароль *
                        </label>
                        <input type="password" class="new-user__form-input" />
                    </div>
                </div>
            </div>
            <button type="submit" class="btn new-user__form-submit">
                Сохранить
            </button>
        </form>
    </div>
</section>
