<section class="notifications">
    <h2 class="section-heading">
        Уведомления
    </h2>
    <ul class="notifications__list">
        <li class="notifications__list-item">
            <a href="#" class="notifications__card">
                <div class="notifications__card-content">
                    <div class="notifications__card-status">
                        Согласование
                    </div>
                    <div class="notifications__card-details">
                        Иванов И.И. отправлено на согласование мероприятие<br />
                        15.06.2020 14:00
                    </div>
                </div>
                <svg width="20" height="20" aria-hidden="true" class="icon-long-arrow-right">
                    <use xlink:href="#long-arrow-right" />
                </svg>
            </a>
        </li>
        <li class="notifications__list-item">
            <a href="#" class="notifications__card">
                <div class="notifications__card-content">
                    <div class="notifications__card-status">
                        Тикет на изменения
                    </div>
                    <div class="notifications__card-details">
                        Соловьева А.И. отправлен тикет на изменение мероприятия<br />
                        15.06.2020 14:00
                    </div>
                </div>
                <svg width="20" height="20" aria-hidden="true" class="icon-long-arrow-right">
                    <use xlink:href="#long-arrow-right" />
                </svg>
            </a>
        </li>
        <li class="notifications__list-item">
            <a href="#" class="notifications__card">
                <div class="notifications__card-content">
                    <div class="notifications__card-status">
                        Участие в мероприятии
                    </div>
                    <div class="notifications__card-details">Потанин Г.В. зарегистрировал вас в мероприятии <br />14.06.2020 10:00</div>
                </div>
                <svg width="20" height="20" aria-hidden="true" class="icon-long-arrow-right">
                    <use xlink:href="#long-arrow-right" />
                </svg>
            </a>
        </li>
        <li class="notifications__list-item">
            <a href="#" class="notifications__card">
                <div class="notifications__card-content">
                    <div class="notifications__card-status">
                        Отклонено
                    </div>
                    <div class="notifications__card-details">
                        Иванов И.И. отправлено на согласование мероприятие<br />
                        15.06.2020 14:00
                    </div>
                </div>
                <svg width="20" height="20" aria-hidden="true" class="icon-long-arrow-right">
                    <use xlink:href="#long-arrow-right" />
                </svg>
            </a>
        </li>
        <li class="notifications__list-item">
            <a href="#" class="notifications__card">
                <div class="notifications__card-content">
                    <div class="notifications__card-status">
                        Согласовано
                    </div>
                    <div class="notifications__card-details">Иванов И.И. отправлено на согласование мероприятие <br />15.06.2020 14:00</div>
                </div>
                <svg width="20" height="20" aria-hidden="true" class="icon-long-arrow-right">
                    <use xlink:href="#long-arrow-right" />
                </svg>
            </a>
        </li>
        <li class="notifications__list-item">
            <a href="#" class="notifications__card">
                <div class="notifications__card-content">
                    <div class="notifications__card-status">
                        Изменение мероприятия
                    </div>
                    <div class="notifications__card-details">
                        Иванов И.И. внесено изменение в мероприятие с вашим участием<br />
                        15.06.2020 14:00
                    </div>
                </div>
                <svg width="20" height="20" aria-hidden="true" class="icon-long-arrow-right">
                    <use xlink:href="#long-arrow-right" />
                </svg>
            </a>
        </li>
    </ul>
</section>
