<section class="event">
    <h2 class="section-heading">
        Форма обратной связи
    </h2>

    <div class="event__content">
        <div class="event__top-block">
            <h1 class="event__heading">
                Компания «Ипсен» заявляет о регистрации расширенного показания по препарату Диспорт
            </h1>
            <div class="event__info">
                <div class="event__info-item">
                    <div class="event__info-item-key">
                        Город
                    </div>
                    <div class="event__info-item-value">
                        Москва
                    </div>
                </div>
                <div class="event__info-item">
                    <div class="event__info-item-key">
                        Дата
                    </div>
                    <div class="event__info-item-value">
                        15/08/2020
                    </div>
                </div>
                <div class="event__info-item">
                    <div class="event__info-item-key">
                        Время начала
                    </div>
                    <div class="event__info-item-value">
                        10:00
                    </div>
                </div>
                <div class="event__info-item">
                    <div class="event__info-item-key">
                        Продолжительность
                    </div>
                    <div class="event__info-item-value">
                        6 ч.
                    </div>
                </div>
                <div class="event__info-item">
                    <div class="event__info-item-key">
                        Место проведения
                    </div>
                    <div class="event__info-item-value">
                        Тверская улица, дом 13, оф 425
                    </div>
                </div>
            </div>
        </div>
        <div class="event__bottom-block">
            <form action="/" method="POST" class="poll__form">
                <div class="poll__form-text">
                    <p>
                        Мы надеемся, что данное мероприятие оказалось интересным и полезным для Вас. Ваше мнение очень важно для нас и Ваша оценка данного мероприятия может помочь в будущем улучшить качество образовательных программ.
                    </p>
                </div>
                <div class="poll__form-groups">
                    <div class="poll__form-group">
                        <h2 class="poll__form-group-heading">
                            Общая оценка мероприятия
                        </h2>
                        <div class="poll__form-item">
                            <div class="poll__form-question">
                                Соответствует ли программа и наполнение мероприятия Вашим профессиональным ожиданиям? (0=совсем не соответствует, 10= полностью соответствует)
                            </div>
                            <div class="poll__form-answer">
                                <label class="poll__form-radio">
                                    <input type="radio" name="question1" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        1
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question1" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        2
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question1" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        3
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question1" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        4
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question1" class="poll__form-radio-input" checked />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        5
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question1" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        6
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question1" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        7
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question1" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        8
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="poll__form-item">
                            <div class="poll__form-question">
                                Как Вы оцениваете для себя формат мероприятия? (0= совершенно не интересно, 10 – очень интересно)
                            </div>
                            <div class="poll__form-answer">
                                <label class="poll__form-radio">
                                    <input type="radio" name="question2" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        1
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question2" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        2
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question2" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        3
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question2" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        4
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question2" class="poll__form-radio-input" checked />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        5
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question2" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        6
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question2" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        7
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question2" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        8
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="poll__form-item">
                            <div class="poll__form-question">
                                Насколько ожидаемо, что Вы примете участие в подобном мероприятии в будущем или посоветуете знакомым? (0= совершенно не интересно, 10 – очень интересно)
                            </div>
                            <div class="poll__form-answer">
                                <label class="poll__form-radio">
                                    <input type="radio" name="question3" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        1
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question3" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        2
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question3" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        3
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question3" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        4
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question3" class="poll__form-radio-input" checked />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        5
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question3" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        6
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question3" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        7
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question3" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        8
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="poll__form-group">
                        <h2 class="poll__form-group-heading">
                            Оценка Лекции №1, лектор Иванов И.И.
                        </h2>
                        <div class="poll__form-item">
                            <div class="poll__form-question">
                                Как Вы оцениваете информативность (содержание) лекции? (0= ничего НЕ смогу применить, 10 –смогу применить всю полученную информацию)
                            </div>
                            <div class="poll__form-answer">
                                <label class="poll__form-radio">
                                    <input type="radio" name="question4" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        1
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question4" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        2
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question4" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        3
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question4" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        4
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question4" class="poll__form-radio-input" checked />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        5
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question4" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        6
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question4" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        7
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question4" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        8
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="poll__form-item">
                            <div class="poll__form-question">
                                Как Вы оцениваете подачу материала? (0= совершенно не интересно, 10 – очень интересно)
                            </div>
                            <div class="poll__form-answer">
                                <label class="poll__form-radio">
                                    <input type="radio" name="question5" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        1
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question5" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        2
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question5" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        3
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question5" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        4
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question5" class="poll__form-radio-input" checked />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        5
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question5" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        6
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question5" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        7
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question5" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        8
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="poll__form-item">
                            <div class="poll__form-question">
                                Насколько была реализована возможность интерактива: задать вопросы, обсудить конкретные клинические случаи? (0= ничего НЕ обсудили, 10 – обсудили детально)
                            </div>
                            <div class="poll__form-answer">
                                <label class="poll__form-radio">
                                    <input type="radio" name="question6" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        1
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question6" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        2
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question6" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        3
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question6" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        4
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question6" class="poll__form-radio-input" checked />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        5
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question6" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        6
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question6" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        7
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question6" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        8
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="poll__form-group">
                        <h2 class="poll__form-group-heading">
                            Оценка Лекции №2 лектор Воробьева М.А.
                        </h2>
                        <div class="poll__form-item">
                            <div class="poll__form-question">
                                Как Вы оцениваете информативность (содержание) лекции? (0= ничего НЕ смогу применить, 10 –смогу применить всю полученную информацию)
                            </div>
                            <div class="poll__form-answer">
                                <label class="poll__form-radio">
                                    <input type="radio" name="question7" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        1
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question7" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        2
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question7" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        3
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question7" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        4
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question7" class="poll__form-radio-input" checked />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        5
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question7" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        6
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question7" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        7
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question7" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        8
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="poll__form-item">
                            <div class="poll__form-question">
                                Как Вы оцениваете подачу материала? (0= совершенно не интересно, 10 – очень интересно)
                            </div>
                            <div class="poll__form-answer">
                                <label class="poll__form-radio">
                                    <input type="radio" name="question8" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        1
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question8" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        2
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question8" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        3
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question8" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        4
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question8" class="poll__form-radio-input" checked />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        5
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question8" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        6
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question8" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        7
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question8" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        8
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="poll__form-item">
                            <div class="poll__form-question">
                                Насколько была реализована возможность интерактива: задать вопросы, обсудить конкретные клинические случаи? (0= ничего НЕ обсудили, 10 – обсудили детально)
                            </div>
                            <div class="poll__form-answer">
                                <label class="poll__form-radio">
                                    <input type="radio" name="question9" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        1
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question9" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        2
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question9" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        3
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question9" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        4
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question9" class="poll__form-radio-input" checked />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        5
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question9" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        6
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question9" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        7
                                    </span>
                                </label>
                                <label class="poll__form-radio">
                                    <input type="radio" name="question9" class="poll__form-radio-input" />
                                    <span class="poll__form-radio-checkmark"> </span>
                                    <span class="poll__form-radio-text">
                                        8
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    
                  
                </div>
                <button type="submit" class="btn poll__form-submit">
                    Отправить
                </button>
                <p class="poll__form-thanks">
                    Благодарим Вас за участие и обратную связь!
                </p>
            </form>
        </div>
    </div>
</section>
