<div class="auth-wrapper">
    <div class="login">
        <img src="img/logo.png" alt="" class="login__logo" width="140">
        <div class="login__remember-password">
            <h2 class="login__remember-password-heading">
                Восстановление пароля
            </h2>
            <div class="login__remember-password-text">
                Введите электронную почту  от вашего аккаунта, вам будет выслана ссылка для восстановления пароля.
            </div>
        </div>
        <form action="/" method="POST" class="login__form" autocomplete="off">
           
            <div class="login__form-row">
              
                <input type="email" class="login__form-input" name="email" id="email" required>
            </div>
            <button type="submit" class="login__form-submit login__form-submit--short">
                Отправить
            </button>
        </form>
        <a href="login.html" class="login__back-link">
            <svg width="10" height="18" aria-hidden="true" class="icon-arrow-left">
                <use xlink:href="#arrow-left" />
            </svg>
            Вернуться на страницу входа
        </a>
    </div>
</div>