<div class="sidebar">
    <div class="sidebar__logo">
        <img src="img/logo.png" alt="" class="sidebar__logo-image" width="136" />
        <img src="img/logo-short.png" alt="" class="sidebar__logo-image sidebar__logo-image--collapsed" />
    </div>

    <nav class="sidebar__nav">
        <a href="#" class="sidebar__nav-link active">
            <span class="sidebar__nav-link-icon-container">
                <svg width="24" height="24" aria-hidden="true" class="icon-calendar">
                    <use xlink:href="#calendar" />
                </svg>
            </span>

            <span class="sidebar__nav-link-text">
                Мероприятия
            </span>
        </a>
        <a href="#" class="sidebar__nav-link">
            <span class="sidebar__nav-link-icon-container">
                <svg width="24" height="24" aria-hidden="true" class="icon-bell">
                    <use xlink:href="#bell" />
                </svg>
                <span class="red-dot"></span>
            </span>
            <span class="sidebar__nav-link-text">
                Уведомления
            </span>
        </a>
        <a href="#" class="sidebar__nav-link">
            <span class="sidebar__nav-link-icon-container">
                <svg width="24" height="24" aria-hidden="true" class="icon-users">
                    <use xlink:href="#users" />
                </svg>
            </span>
            <span class="sidebar__nav-link-text">
                Пользователи
            </span>
        </a>
        <a href="#" class="sidebar__nav-link">
            <span class="sidebar__nav-link-icon-container">
                <svg width="24" height="24" aria-hidden="true" class="icon-checklist">
                    <use xlink:href="#checklist" />
                </svg>
            </span>
            <span class="sidebar__nav-link-text">
                Отчеты
            </span>
        </a>
    </nav>

    <a href="#" download class="sidebar__user-policy">
        <svg width="20" height="26" aria-hidden="true" class="icon-doc">
            <use xlink:href="#doc" />
        </svg>
        <span class="sidebar__user-policy-text">
            Политика конфиденциальности
        </span>
       
    </a>
    <div class="sidebar__collapse-btn-wrapper">
        <button class="sidebar__collapse-btn js-toggle-sidebar">
            <span class="sidebar__collapse-btn-content">
                <svg width="10" height="18" aria-hidden="true" class="icon-arrow-left">
                    <use xlink:href="#arrow-left" />
                </svg>
                <span class="sidebar__collapse-btn-text">
                    Свернуть
                </span>
                
            </span>
        </button>
    </div>
</div>
