.new-user {

}


.new-user__content {
    padding: 3rem 4.5rem;
    background-color: #fff;
    padding-bottom: 4.5rem;
}

.new-user__form {
    display: flex;
    flex-direction: column;
}

.new-user__form-heading {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2.4rem;
    margin-top: 1rem;
    &:first-child {
        margin-top: 0;
    }
}


.new-user__form-row {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1.5rem;
}


.new-user__form-col {
    width: 33.33%;
    padding: 1rem 1.5rem;
}

.new-user__form-group {
    margin-bottom: 2rem;
}

.new-user__form-label {
    font-size: 1.66rem;
    font-weight: 700;
    
    color: #b4b9cb;
    
}


.new-user__form-input {
    margin-top: 1.7rem;
    border: 1px solid var(--blue-text);
    font: inherit;
    border-radius: 2rem !important;
    padding: 0.3rem 1.5rem;
    height: 3.5rem;
    position: relative;
   
}


.new-user__form-select {
    margin-top: 1.7rem;
    .choices {
        font-size: 1.66rem;
    }

    .choices__inner {
        padding: 0;
        border-radius: 2rem !important;
        min-height: auto;
        border-color: var(--blue-text);
        background: transparent;
        min-width: 16rem;
        font-size: 1.66rem;

        .light-bg & {
            border-color: #dddfe8;
        }
    }

    .choices[data-type*='select-one'] .choices__inner {
        padding: 0;
    }

    .choices__list--single {
        padding: 0;
        padding: 0.7rem 1.5rem;
        padding-right: 3.5rem;
    }

    .choices__list--dropdown {
        border-radius: 1rem !important;
        background-color: white;
        margin-top: 0.5rem;
        max-height: auto;
        word-break: initial;
        border-color: var(--blue-text);

        .light-bg & {
            border-color: #dddfe8;
        }
    }

    .is-flipped .choices__list--dropdown {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    .choices__list--dropdown .choices__list {
        max-height: none;
    }

    .choices__list--dropdown .choices__item {
        padding: 1rem !important;
        font-size: 1.4rem;
    }

    .choices[data-type*='select-one']:after {
        margin-top: 0;
        border: none;
        height: 1.2rem;
        width: 1.6rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23b4b9cb' d='M225.813 48.907L128 146.72 30.187 48.907 0 79.093l128 128 128-128z'/%3E%3C/svg%3E");
        right: 1.2rem;
        transition: transform 0.2s;
        top: 50%;
        transform: translateY(-50%);
    }

    .choices[data-type*='select-one'].is-open::after {
        transform: translateY(-50%) rotate(180deg);
    }

    .choices__list--dropdown .choices__item--selectable.is-highlighted {
        background-color: var(--blue-text);
        background-color: var(--primary-color);
        color: white;
    }
}


.new-user__form-submit {
    margin: 0 auto;
    margin-top: 3rem;
}